/* ALL */

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
button {
    cursor: pointer;
}
input {
    outline: none;
}
::placeholder {
    color: #aaa;
}
::selection {
    background: plum;
}
.red {
    color: #f00;
}
.app {
    min-width: 400px;
}
.closeButton:hover {
    background: plum;
    transition: .2s;
    box-shadow: inset 0 0 2px 2px white;
}
.closeButton {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 1em;
    height: 1em;
    font-size: 2em;
    border: none;
    outline: none;
    transition: .2s;
    border-radius: .3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;
    box-shadow: inset 0 0 10px 10px white;
}
.saveButton {
    font-size: 1em;
    padding: .7em;
    margin-top: 1em;
    background: transparent;
    border-radius: .3em;
}
.saveButton:hover {
    background: plum;
}

/* TOPNAV COMPONENT */

.topNav {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.topNavTitleContainer {
    margin: auto;
    padding-left: 32px;
    text-decoration: none;
}
.topNavTitle {
    color: black;
    transition: .2s;
    padding: 5px 0;
}
.topNavTitle:hover {
    color: plum;
    transition: .2s;
}
.topNavButton {
    position: relative;
    font-size: 1.7em;
    font-weight: 600;
    color: #666;
    padding: 0 10px;
    margin: 5px;
    border: none;
    border-radius: .1em;
    outline: none;
    transition: .2s;
    z-index: 1;
}
.topNavButton:hover {
    background: plum;
    transition: .2s;
    color: black;
}
.topNavMenuContainer {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: transparent;
    z-index: 1;
}
.topNavMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 48px;
    right: 5px;
    background: #888;
    list-style: none;
    width: 12em;
}
.topNavMenuItem {
    padding: 10px 0;
    text-align: center;
    font-size: 1em;
    background: transparent;
    border: none;
    color: #000;
    text-decoration: none;
}
.topNavMenuItem:hover {
    background: #ddd;
    box-shadow: inset 0 0 5px plum;
}

/* FOOTER COMPONENT */

.footer {
    padding: 20px;
    border-top: 1px solid #ddd;
}

/* LOGIN COMPONENT */

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    background: #eee;
    min-height: 450px;    
}
.loginForm {
    display: flex;
    flex-direction: column;
    border: 1px solid #aaa;
    border-radius: .3em;
    padding: 1em;
    width: 400px;
    background: #fff;
}
.loginForm > * {
    font-size: 1em;
    padding: .7em;
    border-radius: .3em;
}
.login > h2 {
    padding: 1em;
}
.login > p {
    padding: 0 0 1em 0;
}
.loginForm > input {
    margin-bottom: 1em;
    border: 1px solid #aaa;
    outline: none;
}
.loginForm > input:focus {
    border: 1px solid plum;
}
.loginForm > button {
    background: plum;
    border: none;
    outline: none;
}
.loginForm > button:hover {
    background: rgb(209, 152, 209);
}
.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    border: 1px solid #aaa;
    padding: 1em;
    margin-top: 1em;
    border-radius: .3em;
}
.signup > p {
    margin: 0 5px 0 0;
    color: black;
    font-size: 1em;
}
.signup > button {
    border: none;
    background: transparent;
    font-family: 'Lato', sans-serif;
    color: plum;
    outline: none;
    font-size: 1em
}

/* NEW TRIP COMPONENT */

.newTrip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 85vh;
    background: #eee;
    min-height: 450px; 
}

/* NEW TRIP FORM */

.newTripForm {
    display: flex;
    flex-direction: column;
    border: 1px solid #aaa;
    padding: 1em;
    width: 400px;
    background: #fff;
}
.newTripForm > * {
    font-size: 1em;
    padding: .7em;
    border-radius: .3em;
}
.newTripForm > h2 {
    font-size: 1.2em;
}
.newTripForm > button {
    margin-top: 1em;
}
.addFormButton {
    margin-top: 1em;
    background: #fff;
    padding: .7em;
    border-radius: .3em;
}
.addFormButton:hover {
    background: plum;
}

/* DESTINATION FORM, TRANSPORTATION FORM, ACCOMODATION FORM */

.genForm {
    display: flex;
    flex-direction: column;
    border: 1px solid #aaa;
    border-radius: .3em;
    padding: 1em;
    background: #fff;
    margin-top: 1em;
    position: relative;
}
.genForm > label,
.genForm > input {
    font-size: 1em;
    padding: .5em;
    border-radius: .3em;
}

/* NEW TRIP DATA */

.newTripData {
    display: flex;
    flex-direction: column;
    border: 1px solid #aaa;
    padding: 1em;
    width: 400px;
    background: #fff;
}
.newTripData > * {
    font-size: 1em;
    padding: .7em;
}
.newTripTitle {
    font-size: 1.2em;
}
.tripDates {
    background: #ddd;
}
.tripDate {
    display: flex;
    padding-bottom: 10px;
}
.tripDate > p {
    padding-left: 10px;
}

/* NEW TRIP DATA - DESTINATIONS */

.destination {
    background: #ddd;
}
.destination > h4 {
    margin-bottom: .3em;
}
.destDates,
.climate {
    margin-top: .3em;
}
.destDate,
.climate {
    display: flex;
}
.destDate {
    padding-top: .3em;
}
.destDate > p,
.climate > p {
    padding-left: 10px;
}

/* RESERVATION MODAL */

.resModal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 0;
    margin: 0;
    z-index: 2;
    border-radius: 0;
}
.resModalInner {
    width: 90%;
    max-height: 100%;
    overflow: auto;
}
